[global]
DOMAIN=<DOMAIN>
TOKEN_SECRET=<RandomLettersHere>
# This is the sudo password for the machine where the scripts are run from
LOCAL_SUDO_PASS=
GENERATE_CERTS=false
# on MacOS you will be prompted for password regardless
IMPORT_CERTS=false
# Future Automation 
RUN_TERRAFORM=false
# Future Automation
RUN_ANSIBLE=false
# This will be the admin password for all crucible applications. note: `@` symbol in password will break gitlab script
ADMIN_PASS=
# WARNING if you have existing data it will be DELETED
IMPORT_CONTENT=true

[vsphere]
VSPHERE_SERVER=
VSPHERE_USER=
VSPHERE_PASS=
VSPHERE_DATACENTER=
VSPHERE_CLUSTER=
VSPHERE_DV_SWITCH=
VSPHERE_DATASTORE=
VSPHERE_ISO_DATASTORE=
VSPHERE_DEFAULT_PORTGROUP=
# Automatically download the vSphere root CA
# If the setup script fails set this to false. 
VSPHERE_DOWNLOAD_CERT=false
#Must have a snapshot
UBUNTU_TEMPLATE=

[postgres]
POSTGRES_SERVER=postgresql
POSTGRES_USER=
POSTGRES_PASS=

[network]
DEFAULT_NETWORK=
DEFAULT_NETMASK=
DEFUALT_GATEWAY=
DNS_01=
DNS_02=

# These are the template 
[ansible]
ANSIBLE_USER=
ANSIBLE_USER_PASS=

[kubernetes]
STORAGE_CLASS=longhorn
STORAGE_CLASS_NFS=nfs
STACKSTORM_NODE=

[kubernetes:ingress]
INGRESS_CLASS=nginx
# Deployment or DeamonSet case matters
INGRESS_KIND=Deployment
INGRESS_IP=
INGRESS_NAMESPACE=ingress
INGRESS_CONTROLLER_NAME=controller
INGRESS_CONFIGMAP=nginx-ingress-controller-conf

[kubernetes:metallb]
METAL_NAMESPACE=metallb-system
METAL_START_IP=192.168.1.120
METAL_END_IP=192.168.1.130

[kubernetes:longhorn]
LONGHORN_NAMESPACE=longhorn-system
LONGHORN_REPLICA=2

[crucible]
# One of: Information, Debug, Warning, Error
CRUCIBLE_LOG_LEVEL=Information
# This is a background user for inter-application api access. 
CRUCIBLE_ADMIN_PASS=

[crucible:stackstorm]
STACKSTORM_MONGO_SERVER=mongodb
STACKSTORM_MONGO_USER=st2
STACKSTORM_MONGO_PASS=
STACKSTORM_MONGO_KEY=
STACKSTORM_RABBITMQ_PASS=
STACKSTORM_RABBITMQ_COOKIE=
# These are only required if you need stackstorm to access azure
AZURE_COMPUTE_SUBSCRIPTION_ID=
AZURE_COMPUTE_CERT_FILE=
AZURE_STORAGE_NAME=
AZURE_STORAGE_ACCESS_KEY=
AZURE_RESOURCE_CLIENT_ID=
AZURE_RESOURCE_SECRET=
AZURE_RESOURCE_TENANT=
AZURE_RESOURCE_DEFAULT_GROUP=
AZURE_USER=
AZURE_PASS=