# values-minikube.yaml
# This example intended as baseline to use Minikube for the deployment of GitLab
# - Minimized CPU/Memory load, can fit into 3 CPU, 6 GB of RAM (barely)
# - Services that are not compatible with how Minikube runs are disabled
# - Some services entirely removed, or scaled down to 1 replica.
# - Configured to use 192.168.99.100, and nip.io for the domain

# Minimal settings
global:
  ingress:
    configureCertmanager: false
    class: "$INGRESS_CLASS"
    tls:
      enabled: true
      secretName: appliance-cert
  
  hosts:
    domain: $DOMAIN
    externalIP: $INGRESS_IP
    gitlab:
      name: gitlab.$DOMAIN
      https: true
    

  initialRootPassword: 
    secret: gitlab-secrets
    key: initialRootPassword
  
  psql:
    connectTimeout: 60
    password:
      useSecret: true
      secret: gitlab-secrets
      key: databasePassword
    host: $POSTGRES_SERVER
    port: 5432
    username: postgres
    database: gitlab_db
    preparedStatements: false
  
  minio:
    enabled: false
  # Disable Rails bootsnap cache (temporary)
  grafana:
    enabled: false

  rails:
    bootsnap:
      enabled: false
  shell:
    # Configure the clone link in the UI to include the high-numbered NodePort
    # value from below (`gitlab.gitlab-shell.service.nodePort`)
    port: 32022
# Don't use certmanager, we'll self-sign
certmanager:
  install: false
# Use the `ingress` addon, not our Ingress (can't map 22/80/443)
nginx-ingress:
  enabled: false
# Save resources, only 3 CPU
prometheus:
  install: false
gitlab-runner:
  install: false
postgresql:
  install: false
# Reduce replica counts, reducing CPU & memory requirements
gitlab:
  webservice:
    minReplicas: 1
    maxReplicas: 1
  sidekiq:
    minReplicas: 1
    maxReplicas: 1
  gitlab-shell:
    minReplicas: 1
    maxReplicas: 1
    # Map gitlab-shell to a high-numbered NodePort to support cloning over SSH since
    # Minikube takes port 22.
    service:
      type: NodePort
      nodePort: 32022
  toolbox:
    enabled: false
registry:
  enabled: false
